body {
	font-family: 'Roboto', sans-serif;
	background-color:rgb(193, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#calculator {
	display: flex;
	border-radius: 5px;
	flex-direction: column;
	border-style: solid;
	border-radius: 20px;
	border-color: rgb(78, 25, 16);
	border-width: 4px;
	height: 60vh;
	width: 60vh;
}